# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
*.sqlite3

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
/logs/

# Static files and media
/staticfiles/
/media/

#backup data json files
backup.json
old_data.json

# Development
media/
db.sqlite3
*.pyc
__pycache__/
.env.dev
settings_dev.py
run_dev.py