{% extends 'poetry_app/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add to Folder{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1>Add "{{ poem.title }}" to a Folder</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-theme-primary">Add to Folder</button>
        <a href="{% url 'poetry_app:user_profile' user.username %}" class="btn btn-theme-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
