{% extends 'poetry_app/base.html' %}
{% load static %}
{% block title %}Discover{% endblock %}

{% block content %}
<h1>Discover</h1>

<!-- Tabs for Updates, Daily Prompt, Explore, Following, Friends -->
<ul class="nav nav-tabs mb-4" id="discoverTabs" role="tablist">
    <!-- Explore Tab -->
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="explore-tab" data-bs-toggle="tab" data-bs-target="#explore" type="button" role="tab" aria-controls="explore" aria-selected="true">Explore</button>
    </li>
    <!-- Following Tab -->
    {% if user.is_authenticated %}
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="following-tab" data-bs-toggle="tab" data-bs-target="#following" type="button" role="tab" aria-controls="following" aria-selected="false">Following</button>
    </li>
    <!-- Friends Tab -->
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="friends-tab" data-bs-toggle="tab" data-bs-target="#friends" type="button" role="tab" aria-controls="friends" aria-selected="false">Friends</button>
    </li>
    {% else %}
    <li class="nav-item" role="presentation">
        <button class="nav-link disabled" type="button">Following</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link disabled" type="button">Friends</button>
    </li>
    {% endif %}
</ul>

<div class="tab-content" id="discoverTabsContent">

    <!-- Explore Tab Content -->
    <div class="tab-pane fade show active" id="explore" role="tabpanel" aria-labelledby="explore-tab">
        <ul class="list-group">
            {% for poem in explore_poems %}
                {% include 'poetry_app/poem_partial.html' %}
            {% empty %}
                <li class="list-group-item empty-message">No poems found.</li>
            {% endfor %}
        </ul>
    </div>

    {% if user.is_authenticated %}
    <!-- Following Tab Content -->
    <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
        <ul class="list-group">
            {% for poem in following_poems %}
                {% include 'poetry_app/poem_partial.html' %}
            {% empty %}
                <li class="list-group-item empty-message">You are not following anyone yet.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Friends Tab Content -->
    <div class="tab-pane fade" id="friends" role="tabpanel" aria-labelledby="friends-tab">
        <ul class="list-group">
            {% for poem in friends_poems %}
                {% include 'poetry_app/poem_partial.html' %}
            {% empty %}
                <li class="list-group-item empty-message">You have no mutual friends yet.</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block modals %}
    {% for poem in explore_poems %}
        {% include 'poetry_app/poem_modal.html' %}
    {% endfor %}
    {% if user.is_authenticated %}
        {% for poem in following_poems %}
            {% include 'poetry_app/poem_modal.html' %}
        {% endfor %}
        {% for poem in friends_poems %}
            {% include 'poetry_app/poem_modal.html' %}
        {% endfor %}
    {% endif %}
{% endblock %}
